In [172]:
import pandas as pd

Crime_file = "table-1.xls"
Rev_file = "City_Revenues_Per_Capita.csv"

In [173]:
CrimeFile = pd.read_excel(file)
CrimeFile.head()

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Crime in the United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Volume and Rate per 100,000 Inhabitants, 19...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Population1,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition3),Rape\n(revised \ndefinition) \nrate3,Rape\n(legacy \ndefinition4),Rape\n(legacy \ndefinition) \nrate4,...,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9

In [174]:
RevFile = pd.read_csv(Rev_file)
RevFile.head()

,Entity Name,Fiscal Year,Total Revenues,Estimated Population,Revenues Per Capita
0,Adelanto,2017,15171753,34273.0,443.0
1,Adelanto,2016,14565863,33497.0,435.0
2,Adelanto,2015,14051611,33084.0,425.0
3,Adelanto,2014,13047272,32511.0,401.0
4,Adelanto,2013,11448926,31289.0,366.0

In [161]:
del CrimeFile['Unnamed: 2']
del CrimeFile['Unnamed: 4']
del CrimeFile['Unnamed: 6']
del CrimeFile['Unnamed: 8']
del CrimeFile['Unnamed: 10']
del CrimeFile['Unnamed: 12']
del CrimeFile['Unnamed: 14']
del CrimeFile['Unnamed: 16']
del CrimeFile['Unnamed: 18']
del CrimeFile['Unnamed: 20']
del RevFile['Total Revenues']
del RevFile['Estimated Population']

In [162]:
RevFile.head()

  Entity Name  Fiscal Year  Revenues Per Capita
0    Adelanto         2017                443.0
1    Adelanto         2016                435.0
2    Adelanto         2015                425.0
3    Adelanto         2014                401.0
4    Adelanto         2013                366.0

In [163]:
CrimeFile = CrimeFile.drop([0,1,2,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44])
CrimeFile.columns = ['Year','Population', 'Violent Crime Rate','Murder Rate', 'Rape(revised) Rate', 'Rape(legacy) Rate'
                    , 'Robbery Rate' , 'Aggravated Assault', 'Property Crime' , 'Burglary Rate', 'Larceny/theft Rate', 'Motor Theft Rate']

In [164]:
CrimeFile.head()

,Year,Population,Violent Crime Rate,Murder Rate,Rape(revised) Rate,Rape(legacy) Rate,Robbery Rate,Aggravated Assault,Property Crime,Burglary Rate,Larceny/theft Rate,Motor Theft Rate
3,1997,267783607,611,6.8,NaN,35.9,186.2,382.1,4316.3,918.8,2891.8,505.7
4,1998,270248003,567.6,6.3,NaN,34.5,165.5,361.4,4052.5,863.2,2729.5,459.9
5,1999,272690813,523,5.7,NaN,32.8,150.1,334.3,3743.6,770.4,2550.7,422.5
6,2000,281421906,506.5,5.5,NaN,32,145,324,3618.3,728.8,2477.3,412.2
7,20015,285317559,504.5,5.6,NaN,31.8,148.5,318.6,3658.1,741.8,2485.7,430.5

In [178]:
Total_Years = RevFile["Fiscal Year"].value_counts()
Total_Years.head()

2015    482
2014    482
2017    482
2013    482
2016    482
Name: Fiscal Year, dtype: int64

In [177]:
Grouped_RevFile = RevFile.groupby('Entity Name')
Grouped_RevFile.count().head(10)

,Fiscal Year,Total Revenues,Estimated Population,Revenues Per Capita
Entity Name,,,,
Adelanto,13,13,13,13
Agoura Hills,15,15,15,15
Alameda,15,15,15,15
Albany,15,15,15,15
Alhambra,15,15,15,15
Aliso Viejo,15,15,15,15
Alturas,15,15,15,15
Amador,15,15,15,15
American Canyon,15,15,15,15
Anaheim,15,15,15,15

In [176]:
#Average Revenue per capita for each city over the last 15 years

City_RevPerCap_Avg = Grouped_RevFile['Revenues Per Capita'].mean()
City_RevPerCap_Avg.head()

Entity Name
Adelanto         739.230769
Agoura Hills     899.466667
Alameda         2319.666667
Albany          1576.733333
Alhambra        1118.666667
Name: Revenues Per Capita, dtype: float64