In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import numpy as np
plt.style.use('fivethirtyeight')

from matplotlib import animation,rc
import io
import base64
from IPython.display import HTML, display
import warnings
warnings.filterwarnings('ignore')
from scipy.misc import imread
import codecs
from subprocess import check_output

In [7]:
df = pd.read_csv('data/data_csv.csv', nrows = 451, encoding = 'ISO-8859-1')

In [8]:
df.head()

,City,Lat,Long,Total_Revenue,Population,Revenue_per_capita,Population_Fbi,Violent_Crime,Murder,Rape,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Adelanto,34.5868,-117.4411,"14,565,863","33,497",435,"33,479",276,1,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Agoura Hills,34.1510,-118.7608,"28,100,766","21,211","1,325","21,032",15,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alameda,37.7670,-122.2673,"215,187,532","79,277","2,714","79,597",151,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albany,37.8898,-122.3018,"35,120,955","18,893","1,859","19,975",29,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alhambra,34.0840,-118.1355,"115,993,675","86,782","1,337","86,035",146,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.isnull().sum()

City                     0
Lat                      0
Long                     0
Total_Revenue            0
Population               0
Revenue_per_capita       0
Population_Fbi           0
Violent_Crime            0
Murder                   0
Rape                     0
Robbery                  0
Agg_Assault              0
Property_Crime           0
Burglary                 0
Larceny_theft            0
Motor_vehicle_theft      0
Arson                    0
Unnamed: 17            451
Unnamed: 18            451
Unnamed: 19            451
Unnamed: 20            451
Unnamed: 21            451
Unnamed: 22            451
Unnamed: 23            451
Unnamed: 24            451
Unnamed: 25            451
Unnamed: 26            451
Unnamed: 27            451
Unnamed: 28            451
Unnamed: 29            451
Unnamed: 30            451
Unnamed: 31            451
Unnamed: 32            451
Unnamed: 33            451
Unnamed: 34            451
Unnamed: 35            451
Unnamed: 36            451
Unnamed: 37            451
dtype: int64

In [10]:
df = df[['City','Population','Total_Revenue','Revenue_per_capita','Population_Fbi','Violent_Crime','Murder','Rape','Robbery','Agg_Assault','Property_Crime','Burglary','Larceny_theft', 'Motor_vehicle_theft','Arson', 'Lat','Long']]

In [11]:
df.isnull().sum()

City                   0
Population             0
Total_Revenue          0
Revenue_per_capita     0
Population_Fbi         0
Violent_Crime          0
Murder                 0
Rape                   0
Robbery                0
Agg_Assault            0
Property_Crime         0
Burglary               0
Larceny_theft          0
Motor_vehicle_theft    0
Arson                  0
Lat                    0
Long                   0
dtype: int64

In [12]:
df.loc[df['Violent_Crime'].idxmax()].City

TypeError: reduction operation 'argmax' not allowed for this dtype